body {
    line-height: 1.6;
    font-weight: 300;
    color: #555;
    font-size: 19px;
}

.pause-tooltip {
    background: #5293e2;
    color: white;
    padding: 10px 10px 10px 17px;
    border-radius: 8px;
    font-family: arial;
    font-size: 16px;
    white-space: nowrap;
    position: fixed;
    z-index: 101;
    margin-top: -48px;
    margin-left: -24px;
}
 
.typable.mono_standard {
    font-family: 'Droid Sans Mono', courier;
    color: #757575;
}

.typable {
    line-height: normal;
}

.typable .normal_cursor {
    border-bottom: 3px solid #0a6bf9;
}

.typable .cursor {
    display: block;
    position: absolute;
    z-index: 2;
}

.tpmodes.normal .line {
    margin-top: 25px;
}

.typable .line {
    display: block;
}

.tpmodes.normal.small .token, .tpmodes.normal.small .token_unit {
    font-size: 25px;
}


.typable .token {
    white-space: nowrap;
}

.typable ._toknmeta {
    position: relative;
    z-index: 1;
}

.stats {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 165px;
    text-align: center;
    background: #f1f2f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.placement-progress {
    height: 16px;
    background-color: #64e5c7;
    margin: 70px 0 40px;
    height: 16px;
}

.placement-progress::before {
    content: '0';
}


.pull-right {
    float: right!important;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    user-select: none;
    color: #fff;
    background-color: #3097D1;
    border-color: #2a88bd;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}